@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: antiquewhite;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.caixa {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

h1 {
    font-size: 3rem;
}

nav li {
    display: inline;
	margin: 0 0 0 15px;
}

.main-nav ul li a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.main-nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.side-nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
}

.side-nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.product {
    display: flex;
    justify-content: space-around;
}

.imagem {
    width: 30%;
    margin: 1rem;
}
 
.description {
    margin: 2rem;
    padding: 2rem;
}



.description h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #ca3b3a;
}

.description h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

.description p {
    font-size: 2rem;
}